<div class="container">
  <h1>Add a new review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, collection: 0..5, include_blank: false %>
    <%= f.input :content %>
    <%= f.submit class:'btn btn-primary' %>
  <% end %>
</div>
